html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.header {
  background-color: black;
  display: flex;
  position: fixed;
  height: 69px;
  width: 1280px;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.logo {
  height: 50px;
  margin-left: 10px;
  display: flex;
}

.logo img {
  height: 50px;
}

.nav {
  margin-right: 10px;
}

.nav span {
  margin-right: 20px;
}

.nav span a {
  color: white;
}

.content {
  padding-top: 69px;
  width: 100%;
}

.mission {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  margin: 0px 40px;
}

.mission_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
}

.mission_text h2 {
  margin: 10px;
}

.mission_text h4 {
  margin: 10px;
}

.featured_image {
  height: 200px;
  width: 300px;
}
