html {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  width: 1280px;
}

.header {
  background-color: black;
  display: flex;
  position: fixed;
  height: 69px;
  width: 1280px;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.logo {
  height: 50px;
  margin-left: 10px;
  display: flex;
}

.logo img {
  height: 50px;
}

.nav {
  margin-right: 10px;
}

.nav span {
  margin-right: 20px;
}

.nav span a {
  color: white;
}

.content {
  padding-top: 69px;
  width: 100%;
}

.mission {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  margin-left: 40px;
  margin-right: 40px;
}

.mission_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  width: 100%;
}

.mission_text h2 {
  margin: 10px;
}

.mission_text h4 {
  margin: 10px;
}

.featured {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 1000px;
  margin: 50px 140px 30px 140px;
}

.featured_text {
  display: flex;
  flex-direction: column;
}

.featured_text h2 {
  margin-bottom: 10px;
}

.featured_text h4 {
  margin-top: 10px;
}

.featured_image {
  height: 200px;
  width: 300px;
  margin-bottom: 10px;
}

.tea p.caption {
  margin-top: 0px;
}

.tea_row_1 {
  display: inline-flex;
  justify-content: space-between;
}

.tea_row_2 {
  display: inline-flex;
  justify-content: space-around;
  margin: 0px 150px;
}

.locations {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 500px;
  width: 1200px;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
}

.title {
}

.addresses {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.downtown {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  opacity: 1;
  height: 300px;
  width: 300px;
}

.east_bayside {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  opacity: 1;
  height: 300px;
  width: 300px;
}

.oakdale {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  opacity: 1;
  height: 300px;
  width: 300px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 1280px;
  height: 200px;
}

.footer {
  width: 1280px;
}

h5 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.footer h5 {
  text-align: left;
  padding-left: 20px;
}
